# Ignore all Python bytecode
*.pyc
__pycache__/

# Ignore virtual environment
.venv/

# Ignore environment files containing sensitive info
.env

# Ignore redundant files
PJitrapon/
.DS_Store

# Ignore archived files and sensitive info
mySSHkey
mySSHkey.pub
EDA/Archive
